@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    font-family: 'Montserrat';
}

.centro {
    text-align: center;
}

.padding-l {
    padding-left: 5vw;
}

.caja {
    height: 15vh;
}

.header {
    background-image: url(../img/fondo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width:800px) {
    .header {
        background-image: url(../img/fondo1.jpg);
    }
}

.bloque {
    margin-top: 15vh;
}

.bloque2 {
    margin-top: 9vh;
}

.pantallaCompleta {
    height: 100vh;
}

@media screen and (max-width:800px) {
    .pantallaCompleta {
        height: 50vh;
    }
}

.tituloHeader {
    padding-top: 40vh;
    color: #1A1817;
    font-size: 55px;
    font-weight: bold;
}

.tituloHeader2 {
    color: #1A1817;
    font-size: 4vh;
    font-weight: bold;
}

@media screen and (max-width:800px) {
    .tituloHeader {
        padding-top: 19vh;
        font-size: 30px;
    }
}

.subtituloHeader {
    color: #7C7471;
    font-size: 30px;
}

@media screen and (max-width:800px) {
    .subtituloHeader {
        font-size: 20px;
    }
}

.titulo1 {
    font-size: 40px;
    margin-bottom: 4%;
    font-weight: bold;
}

.proyectos {
    margin: 0px 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: initial;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: lightcoral; */
}

.enlace {
    width: 45vw;
    margin-bottom: 4vh;
}

.enlace2 {
    width: 43vw;
    margin-bottom: 4vh;
    display: inline-block;
}

.enlace2 img {
    width: 2vw;
}

@media screen and (max-width:800px) {
    .enlace {
        width: 100vw;
    }
    .enlace2 img {
        width: 3.2vw;
    }
}

.zoom {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.zoom a {
    text-align: center;
}

.zoom:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.alinear {
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    padding-bottom: 1vh;
    margin-top: 3vh;
}

@media screen and (max-width:800px) {
    .alinear {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.titulo2 {
    font-weight: bold;
    font-size: 3vh;
}

@media screen and (max-width:800px) {
    .alinear {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.alinear2 {
    padding-left: 9vw;
}

@media screen and (max-width:800px) {
    .alinear2 {
        margin-bottom: 9vh;
    }
}

.box img {
    width: 35vw;
    border-radius: 5px;
}

@media screen and (max-width:800px) {
    .box img {
        width: 80vw;
    }
}

.sobre {
    margin-top: 5vw;
}

.imgyo img {
    width: 35vw;
    border-radius: 5px;
}

@media screen and (max-width:800px) {
    .imgyo img {
        width: 80vw;
    }
}

.descripcion {
    padding: 5vw;
}

@media screen and (max-width:800px) {
    .descripcion {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.contenido {
    font-size: 2vh;
}

.contenido2 {
    font-size: 1.8vh;
}

@media screen and (max-width:800px) {
    .contenido {
        font-size: 2.1vh;
    }
    .contenido2 {
        font-size: 2vh;
    }
}

footer {
    width: 90vw;
    border-radius: 5px;
    margin-top: 5%;
    /* background-color: #FCFCFC; */
    background-color: #F0F0F0;
    /* background: linear-gradient(to bottom, #F0F0F0, white); */
    padding: 1%;
}

.correo {
    background-color: #101213;
    padding: 0.7%;
    width: 70vw;
    border-radius: 5px;
    margin-top: -3vh;
}

.nosub {
    color: white;
    text-decoration: none;
}

.parent {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.child {
    /* //  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    flex: 1 1 300px;*/
    /* border: 1px solid red;
    background: lightpink;

    text-align: initial; */
}

.map img {
    /* width: 1px; */
}
